@import 'tailwindcss';

.triangle {
    --r:50px; /* border radius */
  
    width: 1300px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0px;
    left: 0;
    offset-rotate: 0deg; /* makes it face the direction of movement */
    offset-path: path("M -600 0 L 500 900");
}

.triangle2 {
    --r:50px; /* border radius */
  
    width: 1500px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0;
    left: 200;
    offset-rotate: 180deg; /* makes it face the direction of movement */
    offset-path: path("M -500 -700 L -500 40");
}

.triangle3 {
    --r:50px; /* border radius */
  
    width: 1800px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0;
    left: 200;
    offset-rotate: 180deg; /* makes it face the direction of movement */
    offset-path: path("M 1800 2500 L 1080 1620");
}

.triangle4 {
    --r:50px; /* border radius */
  
    width: 1700px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0;
    left: 200;
    offset-rotate: 0deg; /* makes it face the direction of movement */
    offset-path: path("M 1480 -1000 L 1130 -170");
}

.triangle5 {
    --r:50px; /* border radius */
  
    width: 1100px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0;
    left: 200;
    offset-rotate: 180deg; /* makes it face the direction of movement */
    offset-path: path("M 2200 -1000 L 1850 500");
}

.triangle6 {
    --r:50px; /* border radius */
  
    width: 1700px;
    aspect-ratio: 1;
    border-bottom-left-radius: var(--r);
    clip-path: polygon(0 0,100% 100%,0 100%);
    --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
    --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
    -webkit-mask:
      radial-gradient(var(--r) at bottom var(--r) right var(--_r)),
      radial-gradient(var(--r) at left   var(--r) top   var(--_r)),
      conic-gradient(from 202.5deg at var(--_g) calc(100% - var(--_g)),#000 45deg,#0000 0);
    background: linear-gradient(45deg,#FA6900,#C02942);


    /* This is the path for the triangle */
    position: absolute;
    /* bottom: 50px;
    left: -300px; */
    top: 0;
    left: 200;
    offset-rotate: 0deg; /* makes it face the direction of movement */
    offset-path: path("M 3600 1800 L 2860 1550");
}